@font-face{
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.woff2);
  font-weight: 400;
}

@font-face{
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.woff2);
  font-weight: 700;
}

@font-face{
  font-family: 'Lato';
  src: url(../fonts/Lato-Regular.woff2);
  font-weight: 400;
}