.header__color
  header.container-fluid.header
    nav.header__nav
      a(href="#!").header__nav-link 
       img(src="images/logo1.webp", alt="logo") 
      ul.header__nav-list
       button.close__button 
        i.fas.fa-times
       li
        img(src="images/star.webp", alt="star").header__nav-list-img
        a(href="#!").header__nav-list-link Start your design 
       li
        img(src="images/star.webp", alt="star").header__nav-list-img
        a(href="#!").header__nav-list-link All products 
       li
        img(src="images/star.webp", alt="star").header__nav-list-img
        a(href="#!").header__nav-list-link Inspiration
       li  
        img(src="images/star.webp", alt="star").header__nav-list-img
        a(href="#!").header__nav-list-link About
      .header__right
        a(href="#!").header__right-link Account
        a(href="#!").header__right-icon
         i.fas.fa-shopping-cart
        button.header__right-open 
         i.far.fa-bars   
        